<ion-segment mode="md" scrollable (ionChange)="this.changeTimeline($event)" [value]="this.selectedTimelineIndex">
  <ion-segment-button
    *ngFor="let timelineItem of timelineCollection; let selectedTimelineIndex = index"
    [value]="selectedTimelineIndex"
  >
    <ion-label> {{ timelineItem.type }}</ion-label>
  </ion-segment-button>
  <ion-segment-button [value]="this.timelineCollection.length">
    <ion-label>{{ 'LIVESTOCK-COMPONENT.track-journey' | translate }} </ion-label>
  </ion-segment-button>
</ion-segment>
<app-maps-timeline-item
  *ngIf="isMapsApiLoaded$ | async"
  [timelineInstance]="this.selectedTimeline"
  [timelineCollection]="this.timelineCollection"
  [currentHeight]="this.currentHeight"
  [currentWidth]="this.currentWidth"
  [shouldCalculateJourney]="this.shouldCalculateJourney"
>
</app-maps-timeline-item>

<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-label><ion-icon name="book-outline"></ion-icon> {{ 'LIVESTOCK-COMPONENT.note' | translate }}</ion-label>
    </ion-col>
    <ion-col size="6">
      <ion-label> {{ this.timelineCollection[this.selectedTimelineIndex].name }} </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-label>
        <ion-icon name="thermometer-outline"></ion-icon> {{ 'LIVESTOCK-COMPONENT.temperature' | translate }}</ion-label
      >
    </ion-col>
    <ion-col size="6">
      <ion-label> {{ this.timelineCollection[this.selectedTimelineIndex].temperature }} &#8451; </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-label>
        <ion-icon name="water-outline"></ion-icon> {{ 'LIVESTOCK-COMPONENT.humidity' | translate }}</ion-label
      >
    </ion-col>
    <ion-col size="6">
      <ion-label> {{ this.timelineCollection[this.selectedTimelineIndex].humidity }} &#37; </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-label> <ion-icon name="calendar-outline"></ion-icon> {{ 'LIVESTOCK-COMPONENT.date' | translate }}</ion-label>
    </ion-col>
    <ion-col size="6">
      <ion-label>
        {{
          this.timelineCollection[this.selectedTimelineIndex].date.toDate() | date: 'HH:mm:ss  dd/MM/yyyy'
        }}</ion-label
      >
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-label
        ><ion-icon name="location-outline"></ion-icon> {{ 'LIVESTOCK-COMPONENT.location' | translate }}</ion-label
      >
    </ion-col>
    <ion-col size="6">
      <ion-label>
        {{ this.timelineCollection[this.selectedTimelineIndex].production_location.lat }}
        {{ this.timelineCollection[this.selectedTimelineIndex].production_location.lng }}</ion-label
      >
    </ion-col>
  </ion-row>
</ion-grid>

<!-- <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-label> <ion-icon slot="start" name="calendar-outline"></ion-icon> Date</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label
          >{{ this.timelineCollection[this.selectedTimelineIndex].date.toDate() | date: 'HH:mm:ss  dd/MM/yyyy' }}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid> -->
