<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="livestock; else noLivestock">
  <ion-grid>
    <ion-segment value="productInformation" (ionChange)="this.segmentedChanged($event)">
      <ion-segment-button value="productInformation"><ion-label>Product Information</ion-label></ion-segment-button>
      <ion-segment-button value="aboutProducer"><ion-label>About Producer </ion-label></ion-segment-button>
    </ion-segment>

    <ion-card *ngIf="this.selectedSegment === 'productInformation'; else aboutProducer">
      <ion-row>
        <ion-col size="12" size-sm="12" size-md="6"><ion-img src="../../../assets/images/cow.jpg"></ion-img></ion-col>
        <ion-col>
          <ion-card-header>
            <ion-row>
              <ion-card-title>{{ livestock.product_name }}</ion-card-title>
              <ion-card-subtitle>
                {{ livestock.product_description }}
              </ion-card-subtitle>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <ion-chip color="primary">
              <ion-icon name="pin"></ion-icon>
              <ion-label>Category Type: {{ livestock.category_type }}</ion-label>
            </ion-chip>
            <ion-chip color="danger">
              <ion-icon name="pin"></ion-icon>
              <ion-label>Product ID: {{ livestock.id }}</ion-label>
            </ion-chip>
            <ion-chip color="success">
              <ion-icon name="pin"></ion-icon>
              <ion-label>Weight: {{ livestock.weight }}</ion-label>
            </ion-chip>
          </ion-card-content>
        </ion-col>
      </ion-row>
      <ion-row size="12" size-sm="12" size-md="12">
        <ion-col>
          <app-timeline-viewer [timelineCollection]="livestock.timeline"></app-timeline-viewer>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>

<ng-template #noLivestock>No livestock found, please return to <a>homepage</a></ng-template>
<ng-template #aboutProducer>
  <ion-row>
    <ion-col size="12" size-sm="12" size-md="6"><ion-img src="../../../assets/images/farm.jpg"></ion-img></ion-col>
    <ion-col>
      <ion-card-header>
        <ion-card-title>{{ livestock.producer_name }}</ion-card-title>
        <ion-card-subtitle>
          {{ livestock.producer_description }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content> </ion-card-content>
    </ion-col>
  </ion-row>
</ng-template>
