<ion-item>
  <ion-icon slot="start" name="language-outline"></ion-icon>
  <ion-label> {{ 'SETTINGS.language' | translate }}</ion-label>

  <ion-select
    slot="end"
    (ionChange)="changeLanguage($event)"
    [okText]="'LANGUAGE-SELECTOR.CHANGE' | translate"
    [cancelText]="'LANGUAGE-SELECTOR.DISMISS' | translate"
    [value]="selectedLanguage"
  >
    <ion-select-option *ngFor="let country of countries" value="{{ country.value }}">
      {{ country.flag + ' ' + country.name }}</ion-select-option
    >
  </ion-select>
</ion-item>
