<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'MENU.settings-tab' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'MENU.settings-tab' | translate }} </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <app-dark-mode-toggle></app-dark-mode-toggle>
    <app-color-blind-mode-changer></app-color-blind-mode-changer>
    <app-language-selector></app-language-selector>
    <app-font-size-changer></app-font-size-changer>
    <app-reset-preferences></app-reset-preferences>
    <app-web3-auth-button></app-web3-auth-button>
  </ion-list>
</ion-content>
