<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-explore-container name="Tab 3 page"></app-explore-container>

  <ion-list>
    <app-dark-mode-toggle></app-dark-mode-toggle>
    <app-language-selector></app-language-selector>
    <app-font-size-changer></app-font-size-changer>
    <app-reset-preferences></app-reset-preferences>
    <app-web3-auth-button></app-web3-auth-button>
  </ion-list>

</ion-content>
