<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{ 'MENU.search-tab' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'MENU.search-tab' | translate }} </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="center">
    <ion-grid>
      <ion-row>
        <ion-col>
          <app-search-bar></app-search-bar>
          <!-- <ion-searchbar
            (search)="this.search($event)"
            enterkeyhint="search"
            placeholder="Enter product ID"
            inputmode="numeric"
          ></ion-searchbar> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col> <ion-text class="or" color="primary">OR</ion-text> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-scan-qr-button></app-scan-qr-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
