// .or {
//   justify-content: center;
//   align-items: center;
//   display: flex;
// }
@media (min-width: 768px) {
  .searchModule {
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    position: fixed;
    margin: auto;
    width: 40%;
  }
}

@media (max-width: 768px) {
  .searchModule {
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    position: fixed;
    margin: auto;
    width: 90%;
  }
}
