<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{ 'BLOCKCHAIN-INFO-MODAL.title' | translate }} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-label>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          {{ 'BLOCKCHAIN-INFO-MODAL.status' | translate }}</ion-label
        >
      </ion-col>
      <ion-col size="6">
        <ion-chip color="success">
          <ion-icon name="checkmark-circle-outline"></ion-icon> <ion-label>Success</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-label>
          <ion-icon name="calendar-outline"></ion-icon> {{ 'BLOCKCHAIN-INFO-MODAL.date' | translate }}</ion-label
        >
      </ion-col>
      <ion-col size="6">
        <ion-label> 16:22:47 15/06/2022</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-label
          ><ion-icon name="information-circle-outline"></ion-icon>
          {{ 'BLOCKCHAIN-INFO-MODAL.transaction-hash' | translate }}</ion-label
        >
      </ion-col>
      <ion-col size="6">
        <ion-label
          ><a
            target="_blank"
            href="https://etherscan.io/tx/0xb4afd4b9da7ff0feba7fa7532a72b93720149c104eb36d559e6696157ac83696"
          >
            0xb4afd4b9da7ff0feba7fa7532a72b93720149c104eb36d559e6696157ac83696
          </a></ion-label
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-label>
          <ion-icon name="trending-up-outline"></ion-icon> {{ 'BLOCKCHAIN-INFO-MODAL.from' | translate }}</ion-label
        >
      </ion-col>
      <ion-col size="6">
        <ion-label
          ><a href="https://etherscan.io/address/0x8195d3496305d2dbe43b21d51e6cc77b6c9c8364" target="_blank">
            0x8195d3496305d2dbe43b21d51e6cc77b6c9c8364
          </a></ion-label
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-label
          ><ion-icon name="trending-down-outline"></ion-icon> {{ 'BLOCKCHAIN-INFO-MODAL.to' | translate }}</ion-label
        >
      </ion-col>
      <ion-col size="6">
        <ion-label>
          <a href="https://etherscan.io/address/0xdac17f958d2ee523a2206206994597c13d831ec7" target="_blank">
            0xdac17f958d2ee523a2206206994597c13d831ec7
          </a></ion-label
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
