<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{ 'MENU.home-tab' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'MENU.home-tab' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="ion-align-items-center"
      ><ion-col size="12" size-sm="4">
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-subtitle>All Time Events</ion-card-subtitle>
            <ion-card-title>4401</ion-card-title>
          </ion-card-header>
          <!-- <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
            Wisconsin Territory in 1836.
          </ion-card-content> -->
        </ion-card></ion-col
      >
      <ion-col size="12" size-sm="4">
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-subtitle>Yesterday's Events</ion-card-subtitle>
            <ion-card-title>1203</ion-card-title>
          </ion-card-header>
          <!-- <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
            Wisconsin Territory in 1836.
          </ion-card-content> -->
        </ion-card></ion-col
      ><ion-col size="12" size-sm="4">
        <ion-card color="tertiary">
          <ion-card-header>
            <ion-card-subtitle>Cattle Events</ion-card-subtitle>
            <ion-card-title>502</ion-card-title>
          </ion-card-header>
          <!-- <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
            Wisconsin Territory in 1836.
          </ion-card-content> -->
        </ion-card></ion-col
      ></ion-row
    >
    <ion-row class="ion-align-items-center"
      ><ion-col size="12" size-sm="4">
        <ion-card color="warning">
          <ion-card-header>
            <ion-card-subtitle>Poultry Events</ion-card-subtitle>
            <ion-card-title>426</ion-card-title>
          </ion-card-header>
          <!-- <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
            Wisconsin Territory in 1836.
          </ion-card-content> -->
        </ion-card></ion-col
      ><ion-col size="12" size-sm="4">
        <ion-card color="success">
          <ion-card-header>
            <ion-card-subtitle>Ovine Events</ion-card-subtitle>
            <ion-card-title>474</ion-card-title>
          </ion-card-header>
          <!-- <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
            Wisconsin Territory in 1836.
          </ion-card-content> -->
        </ion-card></ion-col
      ><ion-col size="12" size-sm="4">
        <ion-card color="danger">
          <ion-card-header>
            <ion-card-subtitle>Dairy Events</ion-card-subtitle>
            <ion-card-title>325</ion-card-title>
          </ion-card-header>
        </ion-card></ion-col
      ></ion-row
    >
    <!-- <ion-row class="ion-align-items-center"
      ><ion-col size="12" size-sm="4">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Destination</ion-card-subtitle>
            <ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
            Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card></ion-col
      ><ion-col size="12" size-sm="4">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Destination</ion-card-subtitle>
            <ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
            Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card></ion-col
      ><ion-col size="12" size-sm="4">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Destination</ion-card-subtitle>
            <ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
            Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card></ion-col
      ></ion-row
    > -->
  </ion-grid>
</ion-content>
