<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{ 'MENU.home-tab' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'MENU.home-tab' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="ion-align-items-center"
      ><ion-col size="12" size-sm="4">
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-subtitle>{{ 'HOME.all-time-events' | translate }}</ion-card-subtitle>
            <ion-card-title>{{ numberOfAllTimeEvents }}</ion-card-title>
          </ion-card-header>
          <!-- <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
            Wisconsin Territory in 1836.
          </ion-card-content> -->
        </ion-card></ion-col
      >
      <ion-col size="12" size-sm="4">
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-subtitle>{{ 'HOME.24hrs-events' | translate }}</ion-card-subtitle>
            <ion-card-title> {{ numberOfEventsLast24Hrs }}</ion-card-title>
          </ion-card-header>
          <!-- <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
            Wisconsin Territory in 1836.
          </ion-card-content> -->
        </ion-card></ion-col
      ><ion-col size="12" size-sm="4">
        <ion-card color="tertiary">
          <ion-card-header>
            <ion-card-subtitle>{{ 'HOME.alimentation-events' | translate }}</ion-card-subtitle>
            <ion-card-title>{{ numberOfAlimentationEvents }}</ion-card-title>
          </ion-card-header>
          <!-- <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
            Wisconsin Territory in 1836.
          </ion-card-content> -->
        </ion-card></ion-col
      ></ion-row
    >
    <ion-row class="ion-align-items-center"
      ><ion-col size="12" size-sm="4">
        <ion-card color="warning">
          <ion-card-header>
            <ion-card-subtitle>{{ 'HOME.pharmaceutical-events' | translate }}</ion-card-subtitle>
            <ion-card-title>{{ numberOfPharmaceuticalEvents }}</ion-card-title>
          </ion-card-header>
          <!-- <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
            Wisconsin Territory in 1836.
          </ion-card-content> -->
        </ion-card></ion-col
      ><ion-col size="12" size-sm="4">
        <ion-card color="success">
          <ion-card-header>
            <ion-card-subtitle>{{ 'HOME.shipping-events' | translate }}</ion-card-subtitle>
            <ion-card-title>{{ numberOfShippingEvents }}</ion-card-title>
          </ion-card-header>
          <!-- <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
            Wisconsin Territory in 1836.
          </ion-card-content> -->
        </ion-card></ion-col
      ><ion-col size="12" size-sm="4">
        <ion-card color="danger">
          <ion-card-header>
            <ion-card-subtitle>{{ 'HOME.textile-events' | translate }}</ion-card-subtitle>
            <ion-card-title>{{ numberOfTextileEvents }}</ion-card-title>
          </ion-card-header>
        </ion-card></ion-col
      ></ion-row
    >
    <ion-row class="ion-align-items-center"
      ><ion-col size="12" sizeSm="12" sizeXs="12" sizeMd="12" sizeXl="12" sizeLg="12">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{ 'HOME.statistics-message' | translate }}</ion-card-subtitle>
            <ion-card-title>{{ 'HOME.distribution-of-events' | translate }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ngx-charts-pie-chart
              [results]="data"
              [customColors]="customColors"
              [labels]="showLabels"
              [legend]="showLegend"
              [legendTitle]="legendTitle"
              [legendPosition]="legendPosition"
              [view]="view"
            >
            </ngx-charts-pie-chart>
          </ion-card-content> </ion-card></ion-col
    ></ion-row>
  </ion-grid>
</ion-content>
