<ion-content [fullscreen]="true" scrollX="false" scrollY="false">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"> </ng-lottie>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <h1 primary>{{ 'NOT-FOUND.not-found-message' | translate }}</h1>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-text>{{ 'NOT-FOUND.redirect-message' | translate }}</ion-text>
      <ion-text color="primary"> &nbsp; {{ timeLeftTillRedirect }}</ion-text>
    </ion-row>
  </ion-grid>
</ion-content>
